.container {
    display: flex;
    justify-content: center;
    color: #2c3e50;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}
.taskheader {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}